@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  @apply bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-white transition-colors duration-300;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
